* {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 500px;
    justify-content: center;
    background-color: lightgray;
    gap: 5px;
}

.display {
    display: flex;
    width: 80%;
    height: 10vh;
    justify-content: center;
    align-items: center;
    border: solid;
    background-color: lightyellow;
}

.operators {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    gap: 5px;
}

.operator {
    flex: 1;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: orange;

    font-size: x-large;
    font-weight: bold;
}





.numbers {
    display: flex;
    flex-direction: column;
    width: 80%;
    flex: 0.5;
    aspect-ratio: 1 / 1;
    justify-content: space-evenly;
    gap: 5px;
    
}


.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 1;
    gap: 5px;
}

.number {
    flex-grow: 1;
    height: 100%;
    background-color: black;
    color: orange;

    font-size: x-large;
    font-weight: bold;
}